<div id="login_info">
  <% if $user_name %>
    Welcome <%= $user_name %>
  <% end %>
</div>
<div id="navcontainer">
  <ul>
    <li><%= link_to 'Users', users_path %></li>
    <li><%= link_to 'Products', products_path %></li>
    <li><%= link_to 'Category', product_categories_path %></li>
    <li><%= link_to 'Seller', sellers_path %></li>
    <li><%= link_to 'Frontpage setup', frontpages_path %></li>
    <li><%= link_to 'Issue Item ', issue_items_path %></li>
    <li><%= link_to 'Lucky Today', lucky_todays_path %></li>
  </ul>
</div>

